/* globals.css */

/* Tailwind's base styles */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Root CSS Variables */
:root {
  --color-yellow: #ffbe0b;
  --color-blue: #415a77;
  --color-gray: #393838;
  --color-dark: #121212;
  --color-light: #f5f5f5;

  --font-sans: "Roboto", sans-serif;
  --font-serif: "Playfair Display", serif;
}

/* Custom Styles */
body {
  background-color: var(--color-dark);
  color: var(--color-light); /* Optionally set a text color */
  font-family: var(--font-sans); /* Apply the sans-serif font */
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--color-light); /* Set header text color */
}

.embla {
  overflow: hidden;
}
.embla__container {
  display: flex;
}
.embla__slide {
  flex: 0 0 100%;
  min-width: 0;
}

.embla__carousel_slide {
  flex-shrink: 0;
  width: auto; /* Allows the slide to size according to its content */
  margin-right: 16px; /* Add some space between slides */
}
